website-title: Norske IRC-kanaler
website-description: Oversikt over norskspråklige IRC-kanaler, også kalt chatterom.
irc-bot-enable: no
irc-bot-nickname: norbot5123
irc-bot-realname: Norske IRC-kanaler (http://norske-irc-kanaler.com)
irc-bot-quit-message: Norske IRC-kanaler (http://norske-irc-kanaler.com)
serve-method: http
http-port: 65535
fastcgi-path: fastcgi.sock
database-path: data.db
assets-path: assets
log-path: log
approval: no
password: lutefisk
channel-status-gathering-methods: [{
  "method": "znc",
  "interval": "1h"
}]
znc-host: example.com
znc-user: ivartj
znc-password: "secret"
znc-tls-fingerprint: "FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF"
znc-network-names: {
  "irc.efnet.org": "efnet",
  "irc.freenode.net": "freenode",
  "irc.undernet.org": "undernet",
  "irc.libera.chat": "libera",
  "irc.dal.net": "dalnet"
}
