{{define "head"}}
<!doctype html>
<html lang="no">
	<head>
		<meta charset="utf-8">
		<title>{{if (q "page-title")}}{{q "page-title"}} - {{q "site-title"}}{{else}}{{q "site-title"}}{{end}}</title>
		<meta name="viewport"
		      content="width=device-width, initial-scale=1.0">
		<meta name="description"
		      content="{{q "site-description"}}">
		<link rel="stylesheet"
		      href="/static/styles.css?{{q "site-stylesheet-modtime"}}"
		      type="text/css">
	</head>
	<body>
{{end}}

{{define "nav"}}
		<div class="content">
			<div class="bar">
				<nav class="bar-mid">
					<div class="padding-horizontal">
						<a href="/">{{q "site-title"}}</a> /
						<strong>{{q "page-title"}}</strong>
					</div>
				</nav>
			</div>
			<div class="wrap">
				{{range (q "page-messages")}}
				<div class="message">
					<div class="padding">
						{{.}}
					</div>
				</div>
				{{end}}
{{end}}

{{define "foot"}}
			</div>
			<div class="bar footer-hidden">
				<div class="bar-mid">
					<div class="padding-horizontal">
						<a href="/info/help">Hjelp med IRC-chat</a> - 
						<a href="/info/about">Om siden</a> - 
						<a href="/submit">Legg til chatterom</a>
					</div>
				</div>
			</div>
			<div class="bar footer">
				<div class="bar-mid">
					<div class="padding-horizontal">
						<a href="/info/help">Hjelp med IRC-chat</a> - 
						<a href="/info/about">Om siden</a> - 
						<a href="/submit">Legg til chatterom</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
{{end}}

{{define "channel"}}
	<li class="channel">
		<div class="channel-info">
			<a href="{{.Weblink}}"
			   rel="nofollow"
			   class="channel-name channel-link">{{.Name}}</a>
			<span class="channel-network">{{.Network}}</span>
			{{if .New}}<span class="channel-new">ny!</span>{{end}}
			<div class="float-right">
				[<a href="irc://{{.Network}}/{{.Name}}"
				    title="Besøk kanalen ved hjelp av en applikasjon på ditt system"
				   >app</a>
				 <a href="{{.Weblink}}"
				    title="Besøk kanalen ved hjelp av et web-basert IRC-program"
				    rel="nofollow"
				   >web</a>]
			</div>
			<div>
				{{.Description}}
			</div>
		</div>

		{{if (q "admin")}}
		<div class="channel-actions">
			<a href="/edit?name={{.Name}}&amp;network={{.Network}}">rediger</a> -
			{{if not .Approved}}<a href="/approve?name={{.Name}}&amp;network={{.Network}}&amp;nonce={{q "auth-nonce"}}">godkjen</a> -{{end}}
			<a href="/delete?name={{.Name}}&amp;network={{.Network}}&amp;nonce={{q "auth-nonce"}}">slett</a>
		</div>
		{{if not .Error }}
		<div class="channel-status">
			{{.Status}}
		</div>
		{{else}}
		<div class="channel-error">
			{{.Status}}
		</div>
		{{end}}
		{{end}}

	</li>
{{end}}

{{define "index"}}
{{template "head"}}
		{{if (q "more-prev")}}
		{{template "nav"}}
		{{else}}
		{{range (q "page-messages")}}
		<div class="message">
			{{.}}
		</div>
		{{end}}
		<div class="content">
			<div class="bar">
				<div class="bar-mid bar-banner">
					<div class="padding-horizontal">
						<h1><img id="logo" src="/static/logo.png?1" alt="{{q "site-title"}}"></h1>
					</div>
				</div>
			</div>
			<div class="description">
				<div class="padding">
					{{q "site-description"}}<br>
					Klikk <a href="/info/help">her</a> hvis du ikke er kjent med IRC.
				</div>
			</div>
			<div class="wrap">
				{{if (q "admin")}}<p class="padding-horizontal"><a href="/logout?nonce={{q "auth-nonce"}}">Logg ut</a></p>{{end}}
			{{end}}
				<ol class="channel-list">
				{{range (q "channels")}}
					{{template "channel" .}}
				{{end}}
				</ol>
				<nav class="padding-horizontal">
					{{if (q "more-prev")}}<a href="/?page={{q "page-prev"}}">Forrige</a>{{end}}
					{{if (and (q "more-next") (q "more-prev"))}}-{{end}}
					{{if (q "more-next")}}<a href="/?page={{q "page-next"}}">Neste</a>{{end}}
				</nav>
{{template "foot" .}}
{{end}}

{{define "approve"}}
{{template "head" .}}
{{template "nav" .}}
				<ol class="channel-list">
					{{range (q "channels")}}
						{{template "channel" .}}
					{{end}}
				</ol>
				{{if (q "more-prev")}}<a href="/approve?page={{q "page-prev"}}">Forrige</a>{{end}}
				{{if (q "more-next") and (q "more-prev")}}-{{end}}
				{{if (q "more-next")}}<a href="/approve?page={{q "page-next"}}">Neste</a>{{end}}
{{template "foot" .}}
{{end}}

{{define "submit"}}
{{template "head" .}}
{{template "nav" .}}
				{{if not (q "remove-form")}}
				<form method="post" action="/submit">
					<fieldset>
						<ol>
							<li>
								<label for="submit-name">Kanalnavn: </label>
								<input
								       type="text"
								       id="submit-name"
								       name="name"
								       value="{{q "submit-name"}}"
								       placeholder="#kanal"
								       required>
							</li>
							<li>
								<label for="submit-network">IRC-nettverk: </label>
								<input type="text"
								       id="submit-network"
								       name="network"
								       value="{{q "submit-network"}}"
								       placeholder="irc.eksempel.net"
								       required>
							</li>
							<li>
								<label for="submit-weblink">Webchat-URL (ikke påkrevd): </label>
								<input type="text"
								       id="submit-weblink"
								       value="{{q "submit-weblink"}}"
								       placeholder="http://"
								       name="weblink">
							</li>
							<li>
								<label for="submit-description">Beskrivelse:</label><br>
								<textarea name="description"
									  id="submit-description"
									  maxlength="160"
									  required>{{q "submit-description"}}</textarea>
							</li>
							<li>
								<input type="submit" value="Send inn">
							</li>
						</ol>
					</fieldset>
				</form>
				{{else}}
				<p><a href="/">Tilbake</a></p>
				{{end}}
{{template "foot" .}}
{{end}}


{{define "login"}}
{{template "head" .}}
{{template "nav" .}}
				{{if (q "success")}}
				<p><a href="{{q "redirect"}}">Tilbake</a></p>
				{{else}}
				<form method="post" action="/login">
					<fieldset>
						<input type="hidden"
						       name="redirect"
						       value="{{q "redirect"}}">
						<ol>
							<li>
								<label for="login-password">Passord: </label>
								<input type="password"
								       id="login-password"
								       name="password"
								       placeholder="Passord">
							</li>
						</ol>
						<input type="submit" value="Logg inn">
					</fieldset>
				</form>
				{{end}}
{{template "foot" .}}
{{end}}

{{define "edit"}}
{{template "head" .}}
{{template "nav" .}}
				<form method="post" action="/edit">
					<input type="hidden"
					       name="original-name"
					       value="{{q "edit-original-name"}}">
					<input type="hidden"
					       name="original-network"
					       value="{{q "edit-original-network"}}">
					<fieldset>
						{{if .Message}}{{.Message}}{{end}}
						<ol>
							<li>
								<label for="submit-name">Kanalnavn: </label>
								<input
								       type="text"
								       id="submit-name"
								       name="name"
								       value="{{q "edit-name"}}"
								       placeholder="#kanal"
								       required>
							</li>
							<li>
								<label for="submit-network">IRC-nettverk: </label>
								<input type="text"
								       id="submit-network"
								       name="network"
								       value="{{q "edit-network"}}"
								       placeholder="irc.eksempel.net"
								       required>
							</li>
							<li>
								<label for="submit-weblink">Webchat-URL: </label>
								<input type="text"
								       id="submit-weblink"
								       value="{{q "edit-weblink"}}"
								       name="weblink">
							</li>
							<li>
								<label for="submit-description">Beskrivelse:</label><br>
								<textarea name="description"
									  id="submit-description"
									  maxlength="160"
									  required>{{q "edit-description"}}</textarea>
							</li>
						</ol>
						<input type="submit" value="Endre">
					</fieldset>
				</form>
{{template "foot" .}}
{{end}}

{{define "error"}}
{{template "head" .}}
{{template "nav" .}}
				<h2>En feil oppstod!</h2>
				<pre lang="en">{{.Message}}</pre>
				<p>Feilen har blitt loggført.</p>
{{template "foot" .}}
{{end}}

{{define "delete"}}
{{template "head" .}}
{{template "nav" .}}
				<p><a href="{{q "referer"}}">Tilbake.</a></p>
{{template "foot" .}}
{{end}}

{{define "info"}}
{{template "head" .}}
{{template "nav" .}}
				<article>
{{q "content"}}
				</article>
{{template "foot" .}}
{{end}}

{{define "admin"}}
{{template "head" .}}
{{template "nav" .}}
	<article>
		<p><a href="/approve">{{q "number-for-approval"}} kanaler til godkjenning.</a></p>
		<p><a href="/exclude">{{q "number-excluded"}} kanaler er ekskludert.</a></p>
	</article>
{{template "foot" .}}
{{end}}

{{define "exclude"}}
{{template "head" .}}
{{template "nav" .}}
	<form method="post" action="/exclude">
		<fieldset>
			<ol>
				<li>
					<label for="exclude-name">Kanalnavn: </label>
					<input
					       type="text"
					       id="exclude-name"
					       name="name"
					       value="{{q "exclude-name"}}"
					       placeholder="#kanal"
					       required>
				</li>
				<li>
					<label for="exclude-network">IRC-nettverk: </label>
					<input type="text"
					       id="exclude-network"
					       name="network"
					       value="{{q "exclude-network"}}"
					       placeholder="irc.eksempel.net"
					       required>
				</li>
				<li>
					<label for="exclude-reason">Begrunnelse:</label><br>
					<textarea name="exclude-reason"
						  id="exclude-reason"
						  maxlength="160"
						  required>{{q "exclude-reason"}}</textarea>
				</li>
			</ol>
			<input type="submit" value="Send inn">
		</fieldset>
	</form>

	<ol class="channel-list">
		{{range (q "exclusions")}}
			<li class="channel">
				<div class="channel-info">
					{{.Name}}
					<span class="channel-network">{{.Network}}</span>
					<div>
						{{.Reason}}
					</div>
				</div>
				<div class="channel-actions">
					<a href="/exclude?name={{.Name}}&amp;network={{.Network}}&amp;delete=yes&amp;nonce={{q "auth-nonce"}}">slett</a>
				</div>
			</li>
		{{end}}
	</ol>

{{template "foot"}}
{{end}}

{{define "message"}}
{{template "head" .}}
{{template "nav" .}}
<a href="{{q "referer"}}">Tilbake</a>
{{template "foot" .}}
{{end}}

