{{define "head"}}
<!doctype html>
<html lang="no">
	<head>
		<meta charset="utf-8">
		<title>{{.PageTitle}}</title>
		<meta name="viewport"
		      content="width=device-width, initial-scale=1.0">
		<meta name="description"
		      content="{{.SiteDescription}}">
		<link rel="stylesheet"
		      href="/static/styles.css"
		      type="text/css">
	</head>
	<body>
{{end}}

{{define "nav"}}
		<div class="content">
			<div class="bar">
				<nav class="bar-mid">
					<a href="/">{{.SiteTitle}}</a> /
					<strong>{{.PageTitle}}</strong>
				</nav>
			</div>
			<div class="wrap">
{{end}}

{{define "foot"}}
			</div>
			<div class="bar footer-hidden">
				<div class="bar-mid">
					<a href="/help">Hjelp med IRC-chat</a> - 
					<a href="/submit">Legg til chatterom</a>
				</div>
			</div>
			<div class="bar footer">
				<div class="bar-mid">
					<a href="/help">Hjelp med IRC-chat</a> - 
					<a href="/submit">Legg til chatterom</a>
				</div>
			</div>
		</div>
	</body>
</html>
{{end}}

{{define "channel"}}
	<li class="channel">
		<div class="channel-info">
			<a href="{{.Weblink}}"
			   rel="nofollow"
			   class="channel-name channel-link">{{.Name}}</a>
			<span class="channel-network">{{.Network}}</span>
			<div class="float-right">
				[<a href="irc://{{.Network}}/{{.Name}}"
				    title="Besøk kanalen ved hjelp av en applikasjon på ditt system"
				   >app</a>
				 <a href="{{.Weblink}}"
				    title="Besøk kanalen ved hjelp av et web-basert IRC-program"
				    rel="nofollow"
				   >web</a>]
			</div>
			<div>
				{{.Description}}
			</div>
		</div>
		{{if context.Admin}}
		<div class="channel-actions">
			<a href="/edit?name={{.Name}}&network={{.Network}}">rediger</a> -
			{{if not .Approved}}<a href="/approve?name={{.Name}}&network={{.Network}}">godkjen</a> -{{end}}
			<a href="/delete?name={{.Name}}&network={{.Network}}">slett</a>
		</div>
		{{if not .Error }}
		<div class="channel-status">
			{{.Status}}
		</div>
		{{else}}
		<div class="channel-error">
			{{.Status}}
		</div>
		{{end}}
		{{end}}
	</li>
{{end}}

{{define "index"}}
{{template "head" .}}
		{{if .Index.MorePrev}}
		{{template "nav" .}}
		{{else}}
		<div class="content">
			<div class="bar">
				<div class="bar-mid bar-banner">
					<h1><img id="logo" src="/static/logo.png" alt="Logo">{{.SiteTitle}}</h1>
				</div>
			</div>
			<div class="description">
				{{.SiteDescription}}<br>
				Klikk <a href="/help">her</a> hvis du ikke er kjent med IRC.
			</div>
			<div class="wrap">
				{{if context.Admin}}<p><a href="/logout">Logg ut</a></p>{{end}}
			{{end}}
				<ol class="channel-list">
				{{range .Index.Channels}}
					{{template "channel" .}}
				{{end}}
				</ol>
				<nav class="pagenav">
					{{if .Index.MorePrev}}<a href="/?page={{.Index.PagePrev}}">Forrige</a>{{end}}
					{{if .Index.MoreNext}}{{if .Index.MorePrev}}-{{end}}{{end}}
					{{if .Index.MoreNext}}<a href="/?page={{.Index.PageNext}}">Neste</a>{{end}}
				</nav>
{{template "foot" .}}
{{end}}

{{define "approve"}}
{{template "head" .}}
{{template "nav" .}}
				{{if .Approve.Message}}<p>{{.Approve.Message}}</p>{{end}}
				<ol class="channel-list">
					{{range .Approve.Channels}}
						{{template "channel" .}}
					{{end}}
				</ol>
				{{if .Approve.MorePrev}}<a href="/approve?page={{.Approve.PagePrev}}">Forrige</a>{{end}}
				{{if .Approve.MoreNext}}{{if .MorePrev}}-{{end}}{{end}}
				{{if .Approve.MoreNext}}<a href="/approve?page={{.Approve.PageNext}}">Neste</a>{{end}}
{{template "foot" .}}
{{end}}

{{define "submit"}}
{{template "head" .}}
{{template "nav" .}}
				{{if not .Submit.RemoveForm}}
				<form method="post" action="/submit">
					<fieldset>
						{{if .Message}}<p>{{.Message}}</p>{{end}}
						<ol>
							<li>
								<label for="submit-name">Kanalnavn: </label>
								<input
								       type="text"
								       id="submit-name"
								       name="name"
								       value="{{.Submit.Name}}"
								       placeholder="#kanal"
								       required>
							</li>
							<li>
								<label for="submit-network">IRC-nettverk: </label>
								<input type="text"
								       id="submit-network"
								       name="network"
								       value="{{.Submit.Network}}"
								       placeholder="irc.eksempel.net"
								       required>
							</li>
							<li>
								<label for="submit-weblink">Webchat-URL: </label>
								<input type="text"
								       id="submit-weblink"
								       value="{{.Submit.Weblink}}"
								       placeholder="http://"
								       name="weblink">
							</li>
							<li>
								<label for="submit-description">Beskrivelse:</label><br>
								<textarea name="description"
									  id="submit-description"
									  maxlength="160"
									  required>{{.Submit.Description}}</textarea>
							</li>
						</ol>
						<input type="submit" value="Send inn">
					</fieldset>
				</form>
				{{else}}
				<article>
					{{if .Submit.Excluded}}<p>Kanalen blir ikke inkludert med følgende begrunnelse:</p>{{end}}
					<p>{{.Message}}</p>
				</article>
				<p><a href="/">Tilbake</a></p>
				{{end}}
{{template "foot" .}}
{{end}}


{{define "login"}}
{{template "head" .}}
{{template "nav" .}}
				<form method="post" action="/login">
					<fieldset>
						{{if .Message}}<p>{{.Message}}</p>{{end}}
						{{if .Success}}<p><a href="{{.Redirect}}">Tilbake</a></p>
						{{else}}
						<input type="hidden"
						       name="redirect"
						       value="{{.Redirect}}">
						<ol>
							<li>
								<label for="login-password">Passord: </label>
								<input type="password"
								       id="login-password"
								       name="password"
								       placeholder="Passord">
							</li>
						</ol>
						<input type="submit" value="Logg inn">
						{{end}}
					</fieldset>
				</form>
{{template "foot" .}}
{{end}}

{{define "edit"}}
{{template "head" .}}
{{template "nav" .}}
				<form method="post" action="/edit">
					<input type="hidden"
					       name="original-name"
					       value="{{.OriginalName}}">
					<input type="hidden"
					       name="original-server"
					       value="{{.OriginalServer}}">
					<fieldset>
						{{if .Message}}<p>{{.Message}}</p>{{end}}
						<ol>
							<li>
								<label for="submit-name">Kanalnavn: </label>
								<input
								       type="text"
								       id="submit-name"
								       name="name"
								       value="{{.Name}}"
								       placeholder="#kanal"
								       required>
							</li>
							<li>
								<label for="submit-network">IRC-nettverk: </label>
								<input type="text"
								       id="submit-network"
								       name="network"
								       value="{{.Network}}"
								       placeholder="irc.eksempel.net"
								       required>
							</li>
							<li>
								<label for="submit-weblink">Webchat-URL: </label>
								<input type="text"
								       id="submit-weblink"
								       value="{{.Weblink}}"
								       name="weblink">
							</li>
							<li>
								<label for="submit-description">Beskrivelse:</label><br>
								<textarea name="description"
									  id="submit-description"
									  maxlength="160"
									  required>{{.Description}}</textarea>
							</li>
						</ol>
						<input type="submit" value="Endre">
					</fieldset>
				</form>
{{template "foot" .}}
{{end}}

{{define "error"}}
{{template "head" .}}
{{template "nav" .}}
				<h2>En feil oppstod!</h2>
				<pre lang="en">{{.Message}}</pre>
				<p>Feilen har blitt loggført.</p>
{{template "foot" .}}
{{end}}

{{define "delete"}}
{{template "head" .}}
{{template "nav" .}}
				<p>{{.Message}}</p>
				<p><a href="{{.Redirect}}">Tilbake.</a></p>
{{template "foot" .}}
{{end}}

{{define "help"}}
{{template "head" .}}
{{template "nav" .}}
				<article>
{{.Content}}
				</article>
{{template "foot" .}}
{{end}}

{{define "admin"}}
{{template "head" .}}
{{template "nav" .}}
	<article>
		<p><a href="/approve">{{.AdminPanel.NumberForApproval}} kanaler til godkjenning.</a></p>
		<p><a href="/exclude">{{.AdminPanel.NumberExcluded}} kanaler er ekskludert.</a></p>
	</article>
{{template "foot" .}}
{{end}}

{{define "exclude"}}
{{template "head" .}}
{{template "nav" .}}
	<form method="post" action="/exclude">
		<fieldset>
			{{if .Message}}<p>{{.Message}}</p>{{end}}
			<ol>
				<li>
					<label for="exclude-name">Kanalnavn: </label>
					<input
					       type="text"
					       id="exclude-name"
					       name="name"
					       value="{{.Exclude.ExcludeName}}"
					       placeholder="#kanal"
					       required>
				</li>
				<li>
					<label for="exclude-network">IRC-nettverk: </label>
					<input type="text"
					       id="exclude-network"
					       name="network"
					       value="{{.Exclude.ExcludeNetwork}}"
					       placeholder="irc.eksempel.net"
					       required>
				</li>
				<li>
					<label for="exclude-reason">Begrunnelse:</label><br>
					<textarea name="exclude-reason"
						  id="exclude-reason"
						  maxlength="160"
						  required>{{.Exclude.ExcludeReason}}</textarea>
				</li>
			</ol>
			<input type="submit" value="Send inn">
		</fieldset>
	</form>

	<ol class="channel-list">
		{{range .Exclude.Exclusions}}
			<li class="channel">
				<div class="channel-info">
					{{.Name}}
					<span class="channel-network">{{.Network}}</span>
					<div>
						{{.Reason}}
					</div>
				</div>
				<div class="channel-actions">
					<a href="/exclude?name={{.Name}}&network={{.Network}}&delete=yes&code={{context.SessionID}}">slett</a>
				</div>
			</li>
		{{end}}
	</ol>

{{template "foot"}}
{{end}}

