body {
	font-family: 'Courier New', monospace;
	line-height: 1.4em;
}

h1, h2, h3, h4 {
	color: #090;
	margin-bottom: 0;
}

#wrap {
	height: 100%;
	max-width: 35em;
	margin: 0 auto;
}

hr {
	background-color: black;
	height: 1px;
	border: 0;
}

.block {
	padding: 1em;
	overflow: hidden;
}

.dark {
	background-color: #052;
	color: white;
}

.channel {
	margin: 1em 0;
}

.channel-left {
	float: left;
}

.channel-right {
	float: right;
}

.channel-status {
	padding: 0.5em;
	color: #555;
	background-color: white;
	border: 1px solid #0f0;
	text-align: center;
}

.channel-info {
	max-width: 30em;
	padding-left: 0.5em;
}

.channel-link {
	text-decoration: none;
}

.channel-weblink {
	
}

.channel-both {
	clear: both;
}

.channel-name {
	color: #090 ! important;
	text-decoration: underline ! important;
}

.channel-col-1, .channel-col-2 {
	vertical-align: top;
}

.channel-grey {
	color: #999 ! important;
	text-decoration: none ! important;
}

#footer {
	border-top: 1px solid #090;
	padding-top: 0.5em;
	display: table;
}

/* Most of the following form stylings are borrowed from
 * http://alistapart.com/article/prettyaccessibleforms
 */

form {
	margin-top: 1em;
}

form fieldset {
	margin-bottom: 10px;
}

form legend {
	padding: 0 2px;
	font-weight: bold;
}

form label {
	display: inline-block;
	line-height: 1.8;
	vertical-align: top;
}

form fieldset ol {
	margin: 0;
	padding: 0;
}

form fieldset li {
	list-style: none;
	padding: 5px;
	margin: 0;
}

form label {
	width: 120px;
}

form textarea {
	height: 9em;
	width: 30em;
}

pre {
	white-space: pre-wrap;
	border: 2px solid red;
	color: red;
}
