html, body {
	height: 100%;
}

body {
	font-family: 'Courier New', monospace;
	line-height: 1.4em;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4 {
	color: #009;
	margin: 0;
}


.wrap {
	max-width: 35em;
	margin: 0 auto 1em auto;
}

.bar {
	background-color: #ca2b2a;
	padding: 0.5em 0;
}

.content {
	min-height: 100%;
	position: relative;
	background-color: #eee;
}

.description, .message {
	background-color: #fff;
	border: 1px solid #bbb;
	max-width: 35em;
	margin: 1em auto;
}

.padding {
	padding: 1em;
}

.padding-horizontal {
	padding: 0 1em;
}

.bar-mid {
	color: white;
	max-width: 35em;
	margin: 0 auto;
}

.bar-mid a:visited, .bar-mid a:link {
	color: white;
}

.bar-banner {
	font-weight: bold;
}

#logo {
	vertical-align: middle;
}

.bar-banner h1 {
	color: white;
	line-height: 1.2em;
}

hr {
	background-color: black;
	height: 1px;
	border: 0;
}

.channel-list {
	margin: 0;
	padding: 0;
}

fieldset, article {
	margin: 1em 0;
	padding: 1em;
	border: 0;
	background-color: white;
}

.channel {
	list-style: none;
	margin: 1em 0;
	padding: 1em;
	background-color: white;
}

.channel-info {
}

.channel-status, .channel-error {
}

.channel-error {
	background-color: #ca2b2a;
	color: white;
}

.float-right {
	float: right;
}

.channel-link {
	text-decoration: none;
}

.channel-weblink {
	
}

.channel-both {
	clear: both;
}

.channel-name {
	color: #090 ! important;
	text-decoration: underline ! important;
}

.channel-network {
	color: #777;
}

.footer-hidden {
	position: static;
	visibility: hidden;
}

.footer {
	width: 100%;
	position: absolute;
	bottom: 0;
}

/* Most of the following form stylings are borrowed from
 * http://alistapart.com/article/prettyaccessibleforms
 */

form {
	margin-top: 1em;
}

form fieldset {
	margin-bottom: 10px;
}

form legend {
	padding: 0 2px;
	font-weight: bold;
}

form label {
	display: inline-block;
	line-height: 1.8;
	vertical-align: top;
}

form fieldset ol {
	margin: 0;
	padding: 0;
}

form fieldset li {
	list-style: none;
	padding: 5px;
	margin: 0;
}

form label {
	min-width: 29%;
	white-space: nowrap;
}

form input[type=text] {
	width: 65%;
}

form textarea {
	height: 9em;
	width: 30em;
}

pre {
	white-space: pre-wrap;
	border: 2px solid red;
	color: red;
}

